<nav class="navbar navbar-expand admin-nav mb-4 rounded">
    <div class="container-fluid">
        <span class="navbar-brand fw-semibold">Administración</span>
        <ul class="navbar-nav gap-2">
            <li class="nav-item"><a class="nav-link" href="/admin">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/posts">Posts</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/projects">Proyectos</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/bio">Bio</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/resume">Currículum</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/comments">Comentarios</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/messages">Mensajes</a></li>
        </ul>
        <a class="btn btn-sm btn-outline-secondary ms-auto" href="/" target="_blank">Ver sitio</a>
    </div>
</nav>
